
@{
    ViewBag.Title = "Article";
}

<div class="container">
    <div class="row">

        <!-- left column-->
        <div class="col-md-9">

            <div class="row h3">
                <h3><a href="#">Статьи центра Persona</a> / Статья про что-то там</h3>
            </div>

            <img src="http://img-fotki.yandex.ru/get/4913/310023662.1dfd/0_4622c0_1a4b98c6_orig" alt="" class="article-full-image img-responsive">
            <h3 class="article-h3">Про что-то</h3>
            <div class="article-text-div">
                <p>От чего зависит радиус действия <a href="#">Wi-Fi</a> сети? Очень много разных факторов: от самого роутера (количества и силы антенн), от стен в вашем доме, от количества соседних Wi-Fi сетей, от расположения роутера, каких-то других помех и т. д.</p>
                <p>Многие просят посоветовать роутер, который например обеспечит стабильный сигнал Wi-Fi для трехкомнатной квартиры, частного дома, и т. д. В таких случаях, невозможно посоветовать ничего конкретного. У всех разные условия, разные стены и т. д. Единственно, что я могу посоветовать, это приблизительно ориентироваться на площадь вашего дома. Если у вас например однокомнатная квартира, то даже недорогой роутер, с одной антенной мощностью в 3 dBi без проблем справится со своей задачей. Ну а если у вас дом, или квартира побольше, то берите устройство подороже. Хотя, и цена не всегда аргумент.</p>
                <blockquote>Цитатки за жизнь</blockquote>
                <p>Есть у меня роутер Asus RT-N18U – дорогой, три антенны, какая-то там фирменная функция Asus, которая увеличивает радиус покрытия сети. Так вот, при одинаковых условиях, на одинаковом расстоянии, он показывает результат не намного лучше, чем у того же D-link DIR-615/A. У которого антенны внутренние, да и дешевле он в несколько раз.</p>

                <br>
                <p>Автор: <a href="#">Роман Мельниченко</a></p>
                <p>Рубрика: <a href="#">Отношения</a></p>
                <p class="gray-text"> Опубликовано: 1 апреля 2017</p>
            </div>

            <br>
            <p>Похожие статьи:</p>
            <div class="container simular">

                <div class="row">
                    <div class="col-md-2">
                        <img src="http://blog.centrpersona.com.ua/wp-content/uploads/2016/12/%D1%81%D0%B0%D0%BC%D1%83%D1%80%D0%B0%D0%B9-768x512.jpg" alt="" class="img-responsive block">
                    </div>
                    <div class="col-md-7">
                        <a>Дзансин: искусство концентрации внимания по методике легендарного стрелка-самурая</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <img src="http://blog.centrpersona.com.ua/wp-content/uploads/2016/12/%D1%81%D0%B0%D0%BC%D1%83%D1%80%D0%B0%D0%B9-768x512.jpg" alt="" class="img-responsive block">
                    </div>
                    <div class="col-md-7">
                        <a>Дзансин: искусство концентрации внимания по методике легендарного стрелка-самурая</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <img src="http://blog.centrpersona.com.ua/wp-content/uploads/2016/12/%D1%81%D0%B0%D0%BC%D1%83%D1%80%D0%B0%D0%B9-768x512.jpg" alt="" class="img-responsive block">
                    </div>
                    <div class="col-md-7">
                        <a>Дзансин: искусство концентрации внимания по методике легендарного стрелка-самурая</a>
                    </div>
                </div>

            </div>

        </div>
        <!-- end left column-->
        <!--right column-->
        <div class="col-md-3 right-column">
            <div class="row articles-themes">
                <div class="col-md-12">
                    <h3>
                        Темы статей  </h2>
                        <ul>
                            <li><a href="#">Отношения</a></li>
                            <li><a href="#">Развитие</a></li>
                            <li><a href="#">Психология</a></li>
                            <li><a href="#">О разном</a></li>
                        </ul>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-12 heading-block">
                    <h3>Популярные метки</h3>
                    <p>
                        <a href="#">гармоничная личность</a>,
                        <a href="#">внутренний стержень,</a>,
                        <a href="#">поколение</a>,
                        <a href="#">отношения</a>,
                        <a href="#">успех</a>,
                        <a href="#">брак</a>,
                        <a href="#">правила жизни</a>,
                        <a href="#">изменить себя</a>,
                        <a href="#">концентрация</a>,
                    </p>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-12 event-block">
                    <h3>Есть вопросы?</h3>
                    <p>
                        Задайте вопрос психологу!
                    </p>
                    <a href="#">
                        <button type="button" name="button">
                            Задать вопрос
                        </button>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 adversiting">
                    <p class="gray-text">Типа реклама</p>
                    <img src="https://zverinfo.ru/wp-content/gallery/reklama/_5.jpg" alt="" class="img-responsive">
                </div>
            </div>

        </div>
    </div>
</div>
