
@{
    ViewBag.Title = "Articles";
}
<div class="container body-content">
    <div class="row">

        <!-- left column-->
        <div class="col-md-9">

            <div class="row h3">
                <h3>Статьи центра Persona</h3>
            </div>

            <div class="row page-selector">
                <ul>
                    <li><a href="#">1..</a>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#" class="selected-page">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="3">..6</a></li>
                </ul>
            </div>

            <a href="#" class="article-href">
                <article class="row article">
                    <div class="col-md-6">
                        <img src="http://img-fotki.yandex.ru/get/3702/310023662.1dfe/0_4623f7_88daa358_XL" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6 article-description">
                        <p class="article-name">Что-то там</p>
                        <p>
                            Логотип для места новой формации "Лампа", с идеей неформального общения и дружеского
                            времяпрепровождения в стильном интерьере. Заведение с уклоном на качественные кальяны, безалкогольные напитки
                            и крафтовое пиво.
                        </p><br>
                        <a href="#">Отношения</a><span class="gray-text"> / 1 апреля 2017</span>
                    </div>
                </article>
            </a>

            <article class="row article">
                <div class="col-md-6">
                    <img src="http://k32.kn3.net/taringa/4/7/E/2/4/7/christianlayala2/588.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <p class="article-name">Что-то там</p>
                    <p>
                        Логотип для места новой формации "Лампа", с идеей неформального общения и дружеского
                        времяпрепровождения в стильном интерьере. Заведение с уклоном на качественные кальяны, безалкогольные напитки
                        и крафтовое пиво. В заведении предполагается живая музыка и проигрывание виниловых пластинок.
                    </p><br>
                    <a href="#" class="article-heading">Отношения</a><span> / </span>
                    <a href="#" class="article-date">1 апреля 2017</a>
                </div>
            </article>

            <article class="row article">
                <div class="col-md-6">
                    <img src="http://img-fotki.yandex.ru/get/4913/310023662.1dfd/0_4622c0_1a4b98c6_orig" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <p class="article-name">Что-то там</p>
                    <p>
                        Логотип для места новой формации "Лампа", с идеей неформального общения и дружеского
                        времяпрепровождения в стильном интерьере. Заведение с уклоном на качественные кальяны, безалкогольные напитки
                        и крафтовое пиво. В заведении предполагается живая музыка и проигрывание виниловых пластинок.
                    </p><br>
                    <a href="#" class="article-heading">Отношения</a><span> / 1 апреля 2017</span>
                </div>
            </article>

            <div class="row">
                <div class="page-selector">
                    <ul>
                        <li><a href="#">1..</a>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#" class="selected-page">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="3">..6</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- end left column-->
        <!--right column-->
        <div class="col-md-3 right-column">
            <div class="row articles-themes">
                <div class="col-md-12">
                    <h3>
                        Темы статей  </h2>
                        <ul>
                            <li><a href="#">Отношения</a></li>
                            <li><a href="#">Развитие</a></li>
                            <li><a href="#">Психология</a></li>
                            <li><a href="#">О разном</a></li>
                        </ul>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-12 heading-block">
                    <h3>#Метки</h3>
                    <p>
                        <a href="#">гармоничная личность</a>,
                        <a href="#">внутренний стержень,</a>,
                        <a href="#">поколение</a>,
                        <a href="#">отношения</a>,
                        <a href="#">успех</a>,
                        <a href="#">брак</a>,
                        <a href="#">правила жизни</a>,
                        <a href="#">изменить себя</a>,
                        <a href="#">концентрация</a>,
                    </p>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-12 event-block">
                    <h3>Есть вопросы?</h3>
                    <p>
                        Задайте вопрос психологу!
                    </p>
                    <a href="#">
                        <button type="button" name="button">
                            Задать вопрос
                        </button>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 adversiting">
                    <p class="gray-text">Типа реклама</p>
                    <img src="https://zverinfo.ru/wp-content/gallery/reklama/_5.jpg" alt="" class="img-responsive">
                </div>
            </div>

        </div>
    </div>
</div>
<!--end right column-->
