
@{
    ViewBag.Title = "Events";
}

<div class="container celendar">

    <div class="row h3">
        <h3>Календарь событий</h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">

                <tr class="calendar-header">
                    <td>Пн</td>
                    <td>Вт</td>
                    <td>Ср</td>
                    <td>Чт</td>
                    <td>Пт</td>
                    <td>Сб</td>
                    <td>Вс</td>
                    <!-- calendar desctiption -->
                    <td rowspan="6" class="gray-background" id="calendar-description">

                        <div>
                            <h3 class="large-text">Пояснения</h3>
                            <img src="http://blog.centrpersona.com.ua/wp-content/uploads/2017/05/REKOMENDATSII-K-PROCHTENIYU-OT-ROMANA-MELNICHENKO-1280x720.jpg" alt="img" class="img-responsive">
                            <p>При наведении будет показывать описание ивента. Не знаю зачем впилил, но пусть будет. Потом допилю скрипты</p>
                        </div>

                    </td>
                    <!-- end calendar desctiption -->
                </tr>
                <tr class="calendar-row">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr class="calendar-row">
                    <td class="calendar-event-day">
                        8
                        <a href="#"><div>Трениг "Как написать курсач на asp.net и сдать его, не заплакав."</div></a>
                    </td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                </tr>
                <tr class="calendar-row">
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                </tr>
                <tr class="calendar-row">
                    <td>22</td>
                    <td>23</td>
                    <td class="calendar-event-day">
                        24
                        <a href="#"><div>Семейные расстановки</div></a>
                    </td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                </tr>
                <tr class="calendar-row">
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>
</div>
<!-- end calendar-->
<!-- event list-->
<div class="container event-list">

    <div class="row h3">
        <h3>Наши мероприятия</h3>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="event text-align-center column-flex-container">
                <img src="images/banner3.jpg" alt="event name">
                <div class="event-description column-flex-container">
                    <div>
                        <a href="#"><button class="blue-button">Перейти к ивенту</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="event text-align-center column-flex-container">
                <img src="images/banner2.jpg" alt="event name">
                <div class="event-description column-flex-container">
                    <div>
                        <a href="#"><button class="blue-button"> Перейти к ивенту</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="event text-align-center column-flex-container">
                <img src="images/banner1.jpg" alt="event name">
                <div class="event-description column-flex-container">
                    <div>
                        <a href="#"><button class="blue-button"> Перейти к ивенту</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- два блока горизонтально
    <div class="row">

      <div class="col-md-6">

        <div class="event text-align-center column-flex-container">
          <img src="images/pexels-photo.jpg" alt="event name" >
          <div class="event-description column-flex-container">
            <div>
              <h1>Название ивента</h1>
              <p class="large-text">Пару слов призыва к действию и так далее</p>
              <a href="#"><button class="blue-button"> Перейти к ивенту</button></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="event text-align-center column-flex-container">
          <img src="images/banner1.jpg" alt="event name" >
          <div class="event-description column-flex-container">
            <div>
              <h1>Название ивента</h1>
              <p class="large-text">Пару слов призыва к действию и так далее</p>
              <a href="#"><button class="blue-button"> Перейти к ивенту</button></a>
            </div>
          </div>
        </div>

      </div>
    -->
</div>
    </div>
<!-- end event list-->


