<div class="header-banner" style="background-image: url('images/pexels-photo.jpg');">
    <div class="container">
        <div class="row  text-align-center">

            <div class="col-md-4">
                <img src="http://blog.centrpersona.com.ua/wp-content/uploads/2017/01/logo.png" alt="Центр системного развития Persona" class="img-responsive">
                <h1 class="subtitle">Центр системного <br> развития</h1>
            </div>

            <div class="col-md-8">
                <h2 class="uppercase-text">Создай гармонию в своей душе!</h2>
                <br>
                <p>Хотите наладить собственную жизнь?</p>
                <p>Выйти из бесконечного круга неприятностей?</p>
                <p>Обрести счастье, признание, уверенность в себе?</p>
                <br>
                <p>Узнайте ответы на важные для вас вопросы!</p>
                <br>
                <button type="button" name="button" class="yellow-button">Задать вопрос психологу</button>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- left column-->
        <div class="col-md-12">

            <h3>Последняя статья</h3>

            <a href="#" class="article-href">
                <article class="row article">
                    <div class="col-md-6">
                        <img src="http://img-fotki.yandex.ru/get/3702/310023662.1dfe/0_4623f7_88daa358_XL" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-6 article-description">
                        <p class="article-name">Что-то там</p>
                        <p>
                            Логотип для места новой формации "Лампа", с идеей неформального общения и дружеского
                            времяпрепровождения в стильном интерьере. Заведение с уклоном на качественные кальяны, безалкогольные напитки
                            и крафтовое пиво.
                        </p><br>
                        <a href="#">Отношения</a><span class="gray-text"> / 1 апреля 2017</span>
                    </div>
                </article>
            </a>


        </div>
        <!-- end left column-->


    </div>
</div>